# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/

# IDEs and editors
.idea/
.vscode/

# Environment variables
.env

# macOS system files
.DS_Store

# Django static files (build artifacts)
staticfiles/
