{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}タスク管理アプリ{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="app-header">
        <h1 class="app-title"><a href="/">タスク管理アプリ</a></h1>
        <nav class="app-nav">
          {% if user.is_authenticated %}
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
          </form>
          {% else %}
            <a href="{% url 'login' %}">ログイン</a>
            <a href="{% url 'signup' %}">サインアップ</a>
          {% endif %}
        </nav>
      </header>
<br>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer class="app-footer">
    <p>&copy; 2025 タスク管理アプリ. All rights reserved.</p>
  </footer>
</body>
</html>