{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>タスク一覧</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<h1>タスク管理アプリ</h1>
    <div class="heading-wrapper">
    <h2>新規タスク作成</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="新しいタスクを入力" required><br><br>
        <label for="date">日付：</label>
        <input type="date" name="date" required><br><br>
        <textarea name="description" placeholder="タスクの説明を入力" rows="4" cols="40"></textarea><br><br>
        <label>タスクタイプ：</label>
        <input type="radio" id="dairy" name="task_type" value="daily">
        <label for="dairy">毎日</label>
        <input type="radio" id="once" name="task_type" value="once" checked>
        <label for="once">１回きり</label>
        <button type="submit">追加</button>
    </form>

    <hr>
    <div class="work-buttons">
    <form method="post" action="{% url 'start_of_day' %}">
        {% csrf_token %}
        <button type="submit">業務開始</button>
    </form>
    <form method="POST" action="{% url 'end_of_day' %}">
        {% csrf_token %}
        <button type="submit">業務終了</button>
    </form>
    </div>

    <hr>
<!-- 本日の未完了タスク -->
<div class="task-list">
    <div class="heading-wrapper">
    <h3>本日の未完了タスク</h3>
    </div>
    <ul>
        {% for task in incomplete_tasks %}
            <li>
                <span>{{ task.title }}</span> - <span>{{ task.description }}</span> - <span>{{ task.date }}</span>
                <div class="task-actions">
                    <a href="{% url 'task_edit' task.id %}">編集</a>
                    <a href="{% url 'task_delete' task.id %}">削除</a>
                    <form method="POST" action="{% url 'task_complete' task.id %}">
                        {% csrf_token %}
                        <button type="submit">完了</button>
                    </form>
                </div>
            </li>
        {% empty %}
            <li class="no-tasks-message">本日の未完了タスクはありません</li>
        {% endfor %}
    </ul>
</div>

<!-- 本日の完了タスク -->
<div class="task-list">
    <div class="heading-wrapper">
    <h3>本日の完了タスク</h3>
    </div>
    <ul>
        {% for task in completed_today_tasks %}
            <li>
                <span>{{ task.title }}</span> - <span>{{ task.description }}</span>
                <div class="task-actions">
                    <a href="{% url 'task_edit' task.id %}">編集</a>
                    <a href="{% url 'task_delete' task.id %}">削除</a>
                </div>
            </li>
        {% empty %}
            <li class="no-tasks-message">今日完了したタスクはありません</li>
        {% endfor %}
    </ul>
</div>

<!-- 未来のタスク -->
<div class="task-list">
    <div class="heading-wrapper">
    <h3>未来のタスク</h3>
    </div>
    <ul>
        {% for task in future_tasks %}
            <li>
                <span>{{ task.title }}</span> - <span>{{ task.description }}</span> - <span>{{ task.date }}</span>
                <div class="task-actions">
                    <a href="{% url 'task_edit' task.id %}">編集</a>
                    <a href="{% url 'task_delete' task.id %}">削除</a>
                </div>
            </li>
        {% empty %}
            <li class="no-tasks-message">未来のタスクはありません</li>
        {% endfor %}
    </ul>
</div>

<!-- 毎日のタスク -->
<div class="task-list">
    <div class="heading-wrapper">
    <h3>毎日のタスク一覧</h3>
    </div>
    <ul>
        {% for task in template_tasks %}
            <li>
                <span>{{ task.title }}</span> - <span>{{ task.description }}</span>
                <div class="task-actions">
                    <a href="{% url 'template_task_edit' task.id %}">編集</a>
                    <a href="{% url 'template_task_delete' task.id %}">削除</a>
                </div>
            </li>
        {% empty %}
            <li class="no-tasks-message">定型タスクはありません</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>