{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}タスク管理アプリ{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="app-header">
        <h1 class="app-title"><a href="/">タスク管理アプリ</a></h1>
      </header>
<br>
<body>
    <h2>ユーザー登録</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">登録</button>
    </form>
</body>
</html>
